<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Helper\Data">
        <plugin name="Opengento_ProductBreadcrumbs::product_breadcrumbs_strategy" type="Opengento\ProductBreadcrumbs\Plugin\ProductBreadcrumbsStrategy"/>
    </type>
    <type name="Opengento\ProductBreadcrumbs\Plugin\ProductBreadcrumbsStrategy">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="deepest" xsi:type="object">Opengento\ProductBreadcrumbs\Service\Breadcrumbs\DeepestCategory</item>
                <item name="shallowest" xsi:type="object">Opengento\ProductBreadcrumbs\Service\Breadcrumbs\ShallowestCategory</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Opengento\ProductBreadcrumbs\Service\Breadcrumbs\DeepestCategory" type="Opengento\ProductBreadcrumbs\Service\Breadcrumbs\DepthStrategy">
        <arguments>
            <argument name="direction" xsi:type="const">Magento\Framework\Data\Collection::SORT_ORDER_DESC</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\ProductBreadcrumbs\Service\Breadcrumbs\ShallowestCategory" type="Opengento\ProductBreadcrumbs\Service\Breadcrumbs\DepthStrategy">
        <arguments>
            <argument name="direction" xsi:type="const">Magento\Framework\Data\Collection::SORT_ORDER_ASC</argument>
        </arguments>
    </virtualType>
</config>
